@media screen and (max-width: 700px) {
	body {
		background-color: lightblue;
	}
 	p {
 		font-size: 20px;
 	}
 }
* {
	text-align: center;
}
header {
	background-color: lightyellow;
	font-size: 25px;
	
}
.a {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background:linear-gradient(green, yellow);
	position: absolute;
	top: 50px;
	left: 20px;
	font-size: 20px;
	text-decoration-line: underline;
}
.b {
	width: 160px;
	height: 160px;
	border-radius: 80px;
	background:linear-gradient(deeppink, lightpink);
	position: absolute;
	top: 50px;
	left: 70px;
	font-size: 20px;
	text-decoration-line: underline;
}
li {
	list-style: none;
}
